@import "./variables";

@mixin flexCenter($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
} 

@mixin sizeContent($width, $height) {
  width: $width;
  height: $height;
}

header{
  @include flexCenter(row, space-between);
  background:white;
  z-index: 3;
  position: sticky;
}

.cov-logo{
padding: 4rem 0 2.5rem 6rem ;
}

.naka-logo{
  width: 45%
}

.triangle{
  z-index: 10;
  position: fixed;
  right: 705px;
  top: 64px;
  width: 0;
	height: 0;
  border-top: 116px solid transparent;
  border-right: 220px solid $primaryColor;
  background: transparent;
  transform: rotate(360deg);
}

.textdate{
  font-size: 2.5rem;
  border-right: 4px solid white;
  padding: 0.5rem 3rem;
  font-weight: 500;
}

.texttime{
  font-size: 3.5rem;
  font-weight: 600;
  padding: 1rem 3rem
}

.cov-texthead{
  @include flexCenter(row,center);
  @include sizeContent(80%, 20%);
  align-items: center;
  background: $primaryColor;
  text-align: end;
  margin-top: 4rem;
  margin-right: 2.5rem;
  color: white;

}

.cov-content{
  @include sizeContent(100%, 100%);
  background-image: url("/images/pic/BG-thewiwa.jpeg");
  filter: blur(10px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}

.content{
  width: 100%;
  z-index: 3;
  position: fixed;
  align-items: center;
  align-content: center;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: 1.2rem;
}

.status-logo{
@include sizeContent(100%, 100% );
background:white;
}

.status-table{
@include sizeContent(100%, 100% );
background: $primaryColor;

}

.status-time{
  @include sizeContent(100%, 100% );
  background: $secondaryColor;

}

.name-status{
  color: white;
  font-size: medium;
  padding: 1rem 0 0 1rem;
}

.main-status{
  color: white;
  font-size:3rem;
  font-weight: 600;
  align-items: center;
  text-align: center;
}

.text-message{
background: $primaryColor;
padding: 1rem;
color: white;
width: 96%;
z-index: 3;
position: fixed;
bottom: 1.5rem;  
margin-left: 2.4rem;
font-size:1.5rem;
}

.img-slider{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 0.75rem 0
}

.logo-slider{
  background: white;
padding: 0.5rem 3rem;
  z-index: 10;
  position: fixed;
  bottom: 130px;
  margin-right: 2.4rem;
}

.edit-gt{
 margin-top: 1.5rem !important
}

.right-side{
  @include flexCenter(column,center );
}

.menu-name{
background: rgb(255,255,255) !important;
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9220063025210083) 45%, rgba(255,255,255,0.6558998599439776) 68%, rgba(255,255,255,0) 100%) !important;
color: $primaryColor;
font-size: 2rem;
font-weight: 600;
z-index: 10;
position: fixed ;
padding: 1.5rem;
width: 20%;
height: auto;
top: 690px;
left: 972px;
}

.row{
  margin-right:0 px !important;
  margin-left: 0 px !important;
  padding: 0.75rem 0
 
}

.size-logowiwa{
  width: 53%;
  padding: 0 1rem;
  }
  


